@{
    ViewData["Title"] = "Pristup zabranjen";
}

<h2>@ViewData["Title"]</h2>
<p>Nažalost, nemate dovoljno dozvola za pristup ovoj stranici. Ako mislite da je ovo greška, kontaktirajte administratora.</p>

<a class="btn btn-primary" asp-action="Login" asp-controller="Account">Povratak na prijavu</a>
