@{
    ViewData["Title"] = "O stranici";
}

<h2>O stranici</h2>
<p>Dobrodošli u PINrad sustav za upravljanje imovinom. Ova aplikacija omogućava efikasno praćenje imovine i korisnika unutar organizacije.</p>
